/3 lab/data/-
/3 lab/data/(
/3 lab/data/)
/3 lab/data/,
/3 lab/data/+
/3 lab/data/0
/3 lab/data/1
/3 lab/data/2
/3 lab/data/3
/3 lab/data/4
/3 lab/data/5
/3 lab/data/6
/3 lab/data/7
/3 lab/data/8
/3 lab/data/9
/3 lab/data/h
/3 lab/data/t
/3 lab/data/times
/3 lab/data/w
/3 lab/data/X
/3 lab/data/y
